{% extends 'cerberus/base.html' %}
{% load cerberus %}
{% block content %}
    <h1>Permissions on {{ clsname }} "{{ object }}"</h1>
    <a href="{{ object.get_class_permissions_url }}">View Permissions for all {{ clsname }}</a>
    {# user perms #}
    <table>
        <thead>
                <th>User</th>
            {% for codename, obj in object_perms.items %}
                <th title="{{ obj.description }}">{{ obj.text }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td title="Groups: {% for group in user.groups.all %}{{ group }}{% if not forloop.last %}, {% endif %}{% empty %}User does not belong to any groups.{% endfor %}">{{ user.username }}</td>
                    {% for codename, obj in object_perms.items %}
                        <td>
                            {% if codename in user.object_perms %}
                                <span class="true" title="{{ user.object_perms|lookup:codename }}" />
                            {% else %}
                                <span class="false" />
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr><td>No users.</tr></td>
            {% endfor %}
        </tbody>
    </table>
    {# group perms #} 
    <table>
        <thead>
            <th>Group</th>
            {% for codename, obj in object_perms.items %}
                <th title="{{ obj.description }}">{{ obj.text }}</th>
            {% endfor %}
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group }}</td>
                {% for codename, obj in object_perms.items %}
                    <td>
                        {% if codename in group.object_perms %}
                            <span class="true" />
                        {% else %}
                            <span class="false" />
                            {% endif %}
                    </td>
                {% endfor %}
            </tr>   
        {% empty %}
            <tr><td>No groups are defined.</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
