{% extends 'cerberus/base.html' %}
{% load cerberus %}
{% block page_title %}Edit Permissions on {{ clsname }} "{{ object }}"{% endblock %}
{% block content %}
    <h1>Edit Permissions on {{ clsname }} "{{ object }}"</h1>
    {# user perms #}
    <form method="POST">{% csrf_token %}
    <table>
        <thead>
                <th>User</th>
            {% for codename, obj in object_perms.items %}
                <th title="{{ obj.description }}">{{ obj.text }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td title="Groups: {% for group in user.groups.all %}{{ group }}{% if not forloop.last %}, {% endif %}{% empty %}User does not belong to any groups.{% endfor %}">{{ user.username }}</td>
                    {% for codename, obj in object_perms.items %}
                    <td>
                            {% if codename in user.object_perms_user_only %}
                                <input type="hidden" name="user_perms_original_{{ user.pk }}" value="{{ codename }}" />
                            {% endif %}
                            <input type="checkbox" name="user_perms_{{ user.pk }}" value="{{ codename }}" {% if codename in user.object_perms_user_only %}checked{% endif %} />
                            {% if codename in user.object_perms %}
                                <span class="true" title="{{ user.object_perms|lookup:codename }}" />
                            {% else %}
                                <span class="false" />
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr><td>No users.</tr></td>
            {% endfor %}
        </tbody>
    </table>
    {# group perms #} 
    <table>
        <thead>
            <th>Group</th>
            {% for codename, obj in object_perms.items %}
                <th title="{{ obj.description }}">{{ obj.text }}</th>
            {% endfor %}
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group }}</td>
                {% for codename, obj in object_perms.items %}
                <td>
                    {% if codename in group.object_perms_group_only %}
                        <input type="hidden" name="group_perms_original_{{ group.pk }}" value="{{ codename }}" />
                        {% endif %}
                        <input type="checkbox" name="group_perms_{{ group.pk }}" value="{{ codename }}" {% if codename in group.object_perms_group_only %}checked{% endif %} />
                    {% if codename in group.object_perms %}
                        <span class="true" />
                    {% else %}
                        <span class="false" />
                    {% endif %}
                    </td>
                {% endfor %}
            </tr>   
        {% empty %}
            <tr><td>No groups are defined.</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ object.get_object_permissions_url }}">Cancel</a>
    <input type="submit" />
    </form>
{% endblock %}
